@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.markdown-body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.markdown-body pre,
.markdown-body code {
  background-color: #f6f8fa !important;
  color: #24292f !important;
}

/* Tables */
.markdown-body table,
.markdown-body thead,
.markdown-body tbody,
.markdown-body tr,
.markdown-body th,
.markdown-body td {
  background-color: white !important;
  color: black !important;
  border: 1px solid #d0d7de;
}

/* Optional: table borders and spacing */
.markdown-body th,
.markdown-body td {
  padding: 8px;
  text-align: left;
}
